

.navigation {
    background-color: rgb(26, 26, 26);
    color: #fff;
    height: 8.4rem;
    align-items: center;
    padding: 0 6.8rem;
    display: flex;
    justify-content: space-between;
}

.nav-components {
    display: flex;
    gap: 4.2rem;
    position: relative;
}

.nav-components .input {
    width: 100%;
    /* padding-left: 4.8rem; */
    border-radius: 24px;
}

.nav-components .button {
    width: 50%;
    border-radius: 2px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(255, 123, 0);
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64.8rem;
    text-align: center;
}

.user span {
    font-size: 1.8rem;
}

.user-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.modal-mink-create {
    background-color: #fff;
    padding: 50px;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
}