

.dashboard {
    background-color: #fff;
    height: 100vh;
}

.dashboard > .heading-primary {
    padding: 0 6.8rem;
}

.minks-grid {
    display: grid;
    grid-template-columns: 30fr 70fr;
    padding: 0 6.8rem;
}

.minks-list {
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
}
.minks-list::-webkit-scrollbar {
    width: 8px;
}.minks-list::-webkit-scrollbar-track {
    background-color: rgb(225, 225, 225);
}.minks-list::-webkit-scrollbar-thumb {
    background-color: #008ae6;
    border-radius: 8px;
}

.heading {
    background-color: rgb(197, 197, 197);
    color: black;
    width: 100%;
    padding: 1.8rem;
    font-size: 1.4rem;
}

.mink-item {
    padding: 2.8rem 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    cursor: pointer;
    position: relative;
}

.mink-item:hover {
    background-color: rgb(248, 248, 248);
}

.item-date {
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
}
.mink-item .item-title {
    font-family: inherit;
    letter-spacing: -0.6px;
    font-size: 2.2rem;
    font-weight: 500;
}
.mink-item .item-mink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    color: red;
}

.item-mink p {
    margin-bottom: 0;
}

.item-mink span,
.clicks span {
    font-family: monospace;
    font-size: 3.2rem;
    color: black;
    font-weight: 700;
}

.item-delete-icon {
    display: none;
    position: absolute;
    color: red;
    font-size: 4rem;
    right: 1rem;
    transition: all 0.2s;
}
.item-delete-icon:hover {
    font-size: 5.2rem;
}


.mink-detail {
    padding: 9.6rem 16rem;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    font-size: 1.4rem;
}

.field-tools {
    color: #081ae6;
    font-size: 1.8rem;
    font-family: monospace;
    display: flex;
    gap: 2rem;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 40px;
}
.field-tools div {
    cursor: pointer;
}

.mink-detail-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mink-detail-footer .buttons {
    display: flex;
    gap: 2.8rem;
}

.mink-detail-footer button {
    border-radius: 4px;
    font-size: 1.4rem;
}
.buttons .delete {
    background-color: red;
}

.button.login {
    margin-left: 6.8rem;
    width: 30%;
    background-color: rgb(255, 145, 0);
}